<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Welcome!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- p5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.min.js"></script>
    <!-- ml5 -->
    <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
    
    <link rel="stylesheet" href="/styles/landerstyle.css">

  </head>

  <body>

    

    <div class="label">
      <h2 id="pt1">To continue, please display yourself and a <span id="objectlabel"></span> to the camera</h2>
    </div>

    <div id="authcanvas"></div>

    <div class="options">
        <button type="button" onclick="resetOb()" class="btn btn-primary">Different object</button>

        <button type="button" onclick="route('./home')" class="btn btn-secondary">Skip :(</button>

        <button id="showmodal" type="button" onclick="showDetails()" class="btn btn-secondary">Help/More Info</button>
    </div>

     <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>This application uses machine learning object identificaiton as "authenticaiton". This example was built with ml5's ObjectDetector() along with CocoSsd to identify objects defined in the COCO dataset, as well as the locations of those objects in the frame. Once the user displays his/herself (person) and the speicifed object, they are routed to the homepage of the website. If you are on a mobile device this feature is currently unsupported, please press "Skip :(" To allow access to your camera for detection, please use HTTPS (https://kerrickc.herokuapp.com).</p>
    </div>

  </div>


    <script src="/js/objectIDAuth.js"> </script>
  </body>
</html>