@font-face {
    font-family: Moderne Sans;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moderne_sans.woff2)
  }
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body{
    height:100%;
    background-image: url(/media/blue-sky-blur-clear-sky-color-281260.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#authcanvas {
    padding:0;
}

h1{
    text-decoration: none;
  font-size:4vw;
  color: inherit;
  padding:10px;
  font-family: Moderne Sans, sans-serif;
}

button{
    text-decoration: none;
  font-size:1.5vw;
  color: inherit;
  padding:10px;
  font-family: Moderne Sans, sans-serif;
}

.label{
    display:flex;
    flex-direction: row;
    margin:10px;
    border: solid 2px red;
    padding: 10px;
    text-decoration: none;
  font-size:1vw;
  color: inherit;
  font-family: Moderne Sans, sans-serif;
}

#objectlabel{
    padding-left: 5px;
    padding-right: 5px;
    color: red;
    text-decoration: underline;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }